div.card-container {
    margin: auto;
    overflow-x: auto;
    overflow-y: visible;
    border-left: 7px solid #71737d;
    width:100%;
}

div.card {
    min-width:95em;
    width:100%;
    height:100%;
    background-color:#f2f2f5;
}

div.project-card-container {
    border-left: 7px solid #71737d;
}

div.project-card-bckgnd {
    background-color:#f2f2f5;
    /* min-width:95em; */
}

div.business-card-container {
    height: 100%;
    display:flex;
    flex-grow:1;
}

div.about-me {
    flex-grow:1;
    display:flex;
    border-left: 1px solid grey;
}

div.contacts {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

div.ui.list.contact-list {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

div.ui.list.contact-list div.item {
    margin-top:auto;
    margin-bottom:auto;
    font-size:1.3em;
    display:flex
}

div.ui.list.skill-list-items div.item {
    display:flex;
    flex-direction: column;
    font-size:1.3em;
    flex-grow: 1;
}

div.ui.list.skill-list-items div.item div.list {
    padding-top: 0.3em;
}

div.ui.list.skill-list-items div.item div.list div.item {
    font-size: 0.9em;
}



div.contact-info {
    padding:1.5em;
    height:100%;
    display: flex;
    flex-direction: column;
}

div.links-container {
    padding:1.5em;
    display:flex;
    flex-direction: column;
}

div.links {
    height: 5em;
    display:flex
}

div.links * {
    margin: auto
}

div.description {
    padding: 1.5em;
    width:33.3%;
    height:100%;
    overflow-y: auto;
    border-left:1px solid grey
}

div.description p {
    font-size:1em;
    font-family:Verdana, Helvetica;
}

div.skillsets {
    padding: 1.5em;
    width:33.3%;
    height:100%;
    border-left:1px solid grey;
    overflow-y: auto;
    overflow-x: hidden;
}

div.skills-list {
    display:flex;
    flex-direction:column;
}

#welcome.ui.header {
    margin-bottom:0.5em;
    font-family:Verdana, Helvetica;
    font-weight: 100;
}

#my-name.ui.header {
    margin:0;
    font-family:Verdana, Helvetica;
    font-weight:bold;
    font-size:1.3em
}

#my-name.ui.header span {
    font-family:Verdana, Helvetica;
    font-weight: 100;
    font-size:1em
}

div.business-card-sizer {
    height:350px;
}

div.project-card-sizer {
    height:400px;
}

div.business-card-left {
    height:100%;
}

img.profile-img {
    height:98%;
    padding-top:1%;
    padding-left:1%;
    padding-right:1%;
}

div.project-card {
    height: 100%;
    width: 100%;
    padding:0.5em;
    display:flex;
}

div.project-card i {
    padding-top:0.34em;
    border-radius:50%;
    color:#252584
}

div.project-card div.project-details {
    flex-grow:1;
}

div.project-card div.project-details h3 {
    font-family: 'Source Sans Pro', Helvetica, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top:1em;
    padding-left:10px;
    margin-bottom:0;
}
div.project-card div.project-details .subdetails {
    font-size: 0.9em;
    font-family: 'Source Sans Pro', Helvetica, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding-left:10px;
    padding-right:0.5em;
    margin-top:0;
    text-align: left;
}

h3.card-tag {
    margin-bottom:0;
    margin-top:0.5em;
    background-color: #303556;
    color: white;
    text-shadow: 0.5px 0.5px #697284;
    text-align: center;
    padding: 0.3em;
    width:7em
}